@page "/"
@using WebApp.Services;


@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager


<PageTitle>Расписание</PageTitle>

<!--<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />-->


<a href=""></a>

@code{
    private CookieHelperService _cookieHelperService;
    private AccountService _accountService;

    private string tokenAccess { get; set; }



    [CascadingParameter]
    public MainLayout Layout { get; set; }

    protected override async void OnInitialized()
    {
        _cookieHelperService = new CookieHelperService(JSRuntime);
        _accountService = new AccountService(JSRuntime);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
         if (firstRender)
        {
            ((MainLayout)Layout).ShowLoadingScreen();

            await ((MainLayout)Layout).RestartAfterRenderAsync(true);

            tokenAccess = await _cookieHelperService.GetTokenAccessAsync();

            if (!string.IsNullOrEmpty(tokenAccess))
            {
                var profileInfoResponse = await Services.ScheduleAPIService.Account.GetProfileInfoAsync(tokenAccess);

                if (profileInfoResponse?.UserRole is not null)
                {
                    var userRole = (Types.Enums.UserRole)profileInfoResponse.UserRole.Id;

                    if (userRole == Types.Enums.UserRole.Student)
                    {
                        if (profileInfoResponse.StudentDetail is not null)
                        {
                            var selectGroupId = profileInfoResponse.StudentDetail.GroupId;

                            NavigationManager.NavigateTo($"/schedule?groupId={selectGroupId}&selectDate={DateTime.Today.ToString("dd.MM.yyyy")}");
                        }
                    }
                    else if (userRole == Types.Enums.UserRole.Teacher)
                    {
                        NavigationManager.NavigateTo($"/schedule?teacherId={profileInfoResponse.Id}&selectDate={DateTime.Today.ToString("dd.MM.yyyy")}");
                    }
                    else if (userRole == Types.Enums.UserRole.Administrator || userRole == Types.Enums.UserRole.Developer)
                    {
                        NavigationManager.NavigateTo($"/admin");
                    }
                }
            }

            ((MainLayout)Layout).HideLoadingScreen();
        }
    }

}
